@import "../variable/color";

.bread-crumb {
  padding-top: 116px;

  .container {
    position: relative;
  }

  .bread-crumb-bg {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 126px 0;

    .text {
      h1 {
        color: $white;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 13px;
        text-transform: uppercase;
      }

      ul {
        li {
          display: inline-block;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          color: $white;
          position: relative;
          padding-right: 20px;
          margin-right: 7px;

          a {
            color: $themeColor;
          }

          &::before {
            position: absolute;
            top: 0;
            right: 0;
            content: "/";
            color: $themeColor;
          }
        }

        li:last-child {
          &::before {
            display: none;
          }
        }
      }
    }

    .image {
      position: absolute;
      bottom: -126px;
      right: 0;
      width: 328px;
    }
  }
}