@import "../variable/color";

.about-us {
  padding-top: 100px;
  padding-bottom: 100px;

  .about-details {
    .abt-image {
      margin-right: 60px;
    }

    .abt-text {
      p {
        padding-right: 100px;
        line-height: 28px;
      }

      ul {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;

        li {
          width: 50%;
          margin-bottom: 30px;
          font-size: 18px;
          font-weight: 500;

          i {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            border-radius: 4px;
            background-color: $white;
            margin-right: 14px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
          }
        }
      }

      a {
        background-color: $themeColor;
        color: $white;
        padding: 14px 20px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 5px;
        transition: all linear .2s;
        margin-top: 20px;

        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
}