@import "../variable/color";

.shop-list {
  padding: 100px 0;

  .shop-sidebar {
    .sidebar-item {
      margin-bottom: 30px;
      padding: 30px 20px;
      background-color: $white;

      h4 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 24px;
      }

      .input-groups {
        input {
          width: 100%;
          height: 50px;
          background-color: #F8F8F8;
          border: 1px solid #d6d6d6;
          border-radius: 5px;
          padding: 0 50px 0 20px;
        }

        button {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
          cursor: pointer;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          background-color: transparent;
          border: 0;
        }
      }

      .categories {
        ul {
          li {
            font-size: 15px;
            font-weight: 500;
            background-color: #F8F8F8;
            margin-bottom: 14px;
            border-radius: 5px;

            a {
              color: #666666;
              transition: all linear .2s;
              padding: 14px;


              &:hover {
                color: $themeColor;
              }
            }
          }

          li:last-child {
            margin-bottom: 0;
          }
        }
      }

      .top-product {
        ul {
          li {
            display: flex;
            margin-bottom: 24px;

            .img {
              margin-right: 14px;
            }

            .icon {
              i {
                font-size: 13px;
                color: $themeColor;
              }
            }

            p {
              font-size: 16px;
              font-weight: 500;
              color: $black;
              margin-bottom: 5px;
              transition: all linear .2s;

              &:hover {
                color: $themeColor;
              }
            }

            h5 {
              font-size: 14px;
              color: $themeColor;

              span {
                color: #666;
                text-decoration: line-through;
                margin-left: 6px;
              }
            }
          }

          li:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .sidebar-item:last-child {
      margin-bottom: 0;
    }
  }

  .shop-main {
    .dishes-item {
      width: 100%;
      background-color: $white;
      border-radius: 10px;
      padding: 30px;
      margin-bottom: 24px;

      .img {
        position: relative;
        padding-top: 80px;

        .price-cart {
          width: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 22;

          ul {
            margin-top: -10px;
            opacity: 0;
            visibility: hidden;
            transition: all linear .2s;

            li {
              display: inline-block;

              a {
                width: 45px;
                height: 45px;
                background-color: #f3efe9;
                border-radius: 5px;
                text-align: center;
                line-height: 45px;
                color: $black;
                font-size: 16px;
                margin: 0 3px;
                transition: all linear .2s;

                &:hover {
                  background-color: $secondaryColor;
                  color: $white;
                }
              }
            }
          }
        }

        .badges {
          background-color: $themeColor;
          border-radius: 5px;
          color: $white;
          font-weight: 600;
          font-size: 13px;
          padding: 4px 8px;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
        }
      }

      &:hover {
        .price-cart {
          ul {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
          }
        }
      }

      .text {
        padding-top: 40px;

        ul {
          padding-bottom: 10px;

          li {
            display: inline-block;
            color: $themeColor;
          }
        }

        a {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 600;
          color: $black;
          transition: all linear .2s;
          margin-bottom: 10px;

          &:hover {
            color: $themeColor;
          }
        }

        .price {
          span {
            color: $secondaryColor;
            font-weight: 600;
          }

          span.old {
            color: #666666;
            text-decoration: line-through;
            padding-left: 4px;
          }
        }
      }
    }

    .pagination {
      margin-top: 40px;

      ul {
        li {
          display: inline-block;
          box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);

          a {
            color: $black;
          }
        }

        li.arrow {
          width: 40px;
          height: 40px;
          background-color: $white;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          margin: 0 6px;
        }

        li.arrow:last-child {
          margin-right: 0;
        }

        li.mid-pagi {
          padding: 0 20px;
          background-color: $white;
          height: 40px;
          line-height: 40px;
          border-radius: 50px;
        }

        li.mid-pagi a {
          margin: 0 10px;
          color: $black;
        }

        li.mid-pagi a.active {
          width: 25px;
          height: 25px;
          background-color: $themeColor;
          border-radius: 50%;
          text-align: center;
          line-height: 25px;
          display: inline-block;
          color: $white;
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

}




.price-input {
  width: 100%;
  display: flex;
  margin: 0px 0 0px;
  margin-bottom: 14px;

  .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;

    input {
      width: 100%;
      height: 100%;
      outline: none;
      border: 0;
      font-size: 16px;
      margin-left: 0px;
      border-radius: 5px;
    }
  }

  .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;

  .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #FF3115;
  }
}

.range-input {
  position: relative;
  padding-bottom: 20px;

  input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}


input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 10px;
  border-radius: 0;
  background: #FF3115;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 10px;
  border-radius: 0;
  border: none;
  background: #FF3115;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
